@import '../../../styles.scss';

.dashboard-asesorias {
  // Estilos para el dashboard de asesorías
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;

  h2 {
    color: #333;
    margin-bottom: 20px;
  }
  form {
    display: flex;
    flex-direction: column;
    label {
      margin: 10px 0 5px;
    }
    input, select {
      margin-bottom: 15px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    button {
      background-color: #28a745;
      color: white;
      border: none;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
    }
  }
}